version: '3.9'
services:
  wallet-service:
    build: .
    ports:
      - "8081:8081"
    environment:
      - DB_PASSWORD=secret
      - JWT_SECRET=super-long-jwt-secret-2025-change-in-production
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: walletdb
      POSTGRES_USER: user_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data:
